</p>

<div class="row">
    <form name="frm">
        <div class="col-md-4" style="padding: 5px 15px !important" ng-class="{'has-error':frm.Semester.$invalid && frm.Semester.$touched}" data-toggle="tooltip" data-placement="bottom" title="Semester">
            <select class="bs-select form-control" id="txtFocus" name="Semester" style="width: 100%" required ng-model="cmbSemester" ng-options="semester.SemesterName for semester in semesterList track by semester.SemesterId " ng-change="getCourseOffer(); entity.SemesterId=cmbSemester.SemesterId">
                <option value="">-- Semester --</option>
            </select>
            
            <span class="help-block" style="display:block;" ng-if="frm.Semester.$error.required && frm.Semester.$touched">Semester is required</span>
        </div>
        <div class="col-md-4" style="padding: 5px 15px !important" ng-class="{'has-error':frm.SelectStudent.$invalid && frm.SelectStudent.$touched}" data-toggle="tooltip" data-placement="bottom" title="SelectStudent">
            <select class="bs-select form-control" name="SelectStudent" style="width: 100%" required ng-model="cmbSelectStudent" ng-options="selectstudent.FullName for selectstudent in studentList track by selectstudent.StudentId " ng-change="entity.StudentId=cmbSelectStudent.StudentId; getGrid()" ng-disabled="!cmbSemester">
                <option value="">-- Select Student --</option>
            </select>
            <span class="help-block" style="display:block;" ng-if="frm.SelectStudent.$error.required && frm.SelectStudent.$touched">Student is required</span>
        </div>
        <div class="col-md-4"  style=" padding: 5px 15px !important" >
            <div class="form-group"data-toggle="tooltip" data-placement="bottom" title="Total Due">
                <input type="text" class="form-control text-center" placeholder="Total Due" name="TotalDue" ng-model="entity.TotalDue" maxlength="51" ng-maxlength="50" required readonly />
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box purple">
            <div class="portlet-title sbold">
                <div class="caption no-outline">
                    <i class="fa fa-user" style="font-size: 20px; color:white"></i>Student Registration
                </div>
            </div>
            <div class="portlet-body-grid">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a data-target="#tab_1_1" data-toggle="tab" class="uppercase sbold"> Add</a>
                        </li>
                        <li>
                            <a data-target="#tab_1_2" data-toggle="tab" class="uppercase sbold"> Drop</a>
                        </li>
                        <li>
                            <a data-target="#tab_1_3" data-toggle="tab" class="uppercase sbold"> Withdraw</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        </p>
                        <div class="tab-pane active" id="tab_1_1">
                            <form name="frm" novalidate>

                                <div class="row">
                                    <div class="col-md-4" style="padding: 5px 15px !important" ng-class="{'has-error':frm.SelectCourse.$invalid && frm.SelectCourse.$touched}" data-toggle="tooltip" data-placement="bottom" title="Select Course">
                                        <select class="bs-select form-control" name="SelectCourse" style="width: 100%" required ng-model="cmbCourse" ng-options="course.CourseCodeWithTitle for course in courseList track by course.CourseId " ng-change="entity.CourseOfferId=cmbCourse.CourseOfferId;entity.Credits =cmbCourse.Credits;entity.Schedule =cmbCourse.ScheduleSummary;entity.CourseTitle =cmbCourse.CourseTitle;entity.CourseCode =cmbCourse.CourseCode" ng-disabled="!cmbSemester">
                                            <option value="">-- Select Course --</option>
                                        </select>
                                        <span class="help-block" style="display:block;" ng-if="frm.SelectCourse.$error.required && frm.SelectCourse.$touched">Course is required</span>
                                    </div>
                                    <div class="col-md-4" style="padding: 5px 15px !important">
                                        <div class="form-group"  data-toggle="tooltip" data-placement="bottom" title="Credit">
                                            <input type="text" class="form-control text-center" placeholder="Credit" name="TotalCredit" ng-model="entity.Credits" maxlength="51" ng-maxlength="50" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4"  style="padding: 5px 15px !important">
                                        <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Instructor">
                                            <input type="text" class="form-control text-center" placeholder="Instructor" name="Instructor" ng-model="entity.Instructor" maxlength="51" ng-maxlength="50"  readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" style="padding: 5px 15px !important">
                                        <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Schedule">
                                            <input type="text" class="form-control text-center" placeholder="Schedule" name="Schedule" ng-model="entity.Schedule" maxlength="51" ng-maxlength="50" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding: 5px 15px !important">
                                        <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Remarks">
                                            <input type="text" class="form-control text-left" placeholder="Remarks" name="Remarks" ng-model="entity.Remarks" maxlength="51" ng-maxlength="50"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding: 5px 15px !important">

                                        <button type="button" class="form-control text-center btn purple box-shadow--8dp"  ng-click="post()" >ADD</button><!--LockSaOrReview()-->

                                    </div>
                                </div>

                                    <div class="form-group" style="padding: 15px 0px !important" ;">
                                        <div class="table-outer">
                                            <table class="responstable table-hover">
                                                <tbody>
                                                    <tr class="t-head" style="font-size: 14px !important;">
                                                        <th class="sbold">Code</th>
                                                        <th class="sbold text-center" data-th="Details"><span>Course Name</span></th>
                                                        <th class="sbold text-center">Credit</th>
                                                        <th class="sbold text-center">Instructor</th>
                                                        <th class="sbold text-center">Schedule</th>
                                                        <th class="sbold text-center">Remarks</th>
                                                        <th class="sbold text-center">Status</th>
                                                        <th class="sbold text-center">Date</th>

                                                    </tr>
                                                    <tr dir-paginate="item in entityList | filter:q | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count"">
                                                        <td class="text-center">{{item.CourseCode}}</td>
                                                        <td class="text-center">{{item.CourseTitle}}</td>
                                                        <td class="text-center">{{item.Credits}}</td>
                                                        <td class="text-center">{{item.EmployeeName}}</td>
                                                        <td class="text-center">{{item.ScheduleSummary}}</td>
                                                        <td class="text-center">{{item.Remarks}}</td>
                                                        <td class="text-center">{{item.Status}}</td>
                                                        <td class="text-center">{{item.RegistrationDate}}</td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                

                            </form>
                        </div>
                        <div class="tab-pane" id="tab_1_2">
                            <form name="frm" novalidate>
                                <div class="row">
                                    <div class="col-md-6" style="padding: 5px 15px !important">
                                        <div class="form-group"  data-toggle="tooltip" data-placement="bottom" title="Remarks">
                                            <input type="text" class="form-control text-left" placeholder="Remarks" name="Remarks" ng-model="entity.Remarks" maxlength="51" ng-maxlength="50"  />
                                        </div>
                                    </div>
                                   
                                </div>
                                    <div class="form-group" style="padding: 15px 0px !important" ;">
                                        <div class="table-outer">
                                            <table class="responstable table-hover">
                                                <tbody>
                                                    <tr class="t-head" style="font-size: 14px !important;">
                                                        <th class="sbold">Code</th>
                                                        <th class="sbold text-center" data-th="Details"><span>Course Name</span></th>
                                                        <th class="sbold text-center">Credit</th>
                                                        <th class="sbold text-center">Instructor</th>
                                                        <th class="sbold text-center">Schedule</th>
                                                        <th class="sbold text-center">Remarks</th>
                                                        <th class="sbold text-center">Status</th>
                                                        <th class="sbold text-center">Date</th>
                                                        <th class="sbold text-center" width="5%">Action</th>
                                                    </tr>
                                                    <tr dir-paginate="item in entityList | filter:q | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count">
                                                        <td class="text-center">{{item.CourseCode}}</td>
                                                        <td class="text-center">{{item.CourseTitle}}</td>
                                                        <td class="text-center">{{item.Credits}}</td>
                                                        <td class="text-center">{{item.EmployeeName}}</td>
                                                        <td class="text-center">{{item.ScheduleSummary}}</td>
                                                        <td class="text-center">{{item.Remarks}}</td>
                                                        <td class="text-center">{{item.Status}}</td>
                                                        <td class="text-center">{{item.RegistrationDate}}</td>
                                                        <td>
                                                            <div class="form-actions">
                                                                <button type="button" class="btn btn-sm purple" ng-click="dropOrWithdraw('DROP', item)" ng-show="item.RegStatusId === 1">Drop</button><!--LockSaOrReview()-->
                                                            </div>
                                                        </td>


                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                

                            </form>
                        </div>
                        <div class="tab-pane" id="tab_1_3">
                            <form name="frm" novalidate>
                                <div class="row">
                                    <div class="col-md-6" style="padding: 5px 15px !important">
                                        <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Remarks">
                                            <input type="text" class="form-control text-left" placeholder="Remarks" name="Remarks" ng-model="entity.Remarks" maxlength="51" ng-maxlength="50"  />
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group" style="padding: 15px 0px !important" ;">
                                    <div class="table-outer">
                                        <table class="responstable table-hover">
                                            <tbody>
                                                <tr class="t-head" style="font-size: 14px !important;">
                                                    <th class="sbold">Code</th>
                                                    <th class="sbold text-center" data-th="Details"><span>Course Name</span></th>
                                                    <th class="sbold text-center">Credit</th>
                                                    <th class="sbold text-center">Instructor</th>
                                                    <th class="sbold text-center">Schedule</th>
                                                    <th class="sbold text-center">Remarks</th>
                                                    <th class="sbold text-center">Status</th>
                                                    <th class="sbold text-center">Date</th>
                                                    <th class="sbold text-center" width="5%">Action</th>
                                                </tr>
                                                <tr dir-paginate="item in entityList | filter:q | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count">
                                                    <td class="text-center">{{item.CourseCode}}</td>
                                                    <td class="text-center">{{item.CourseTitle}}</td>
                                                    <td class="text-center">{{item.Credits}}</td>
                                                    <td class="text-center">{{item.EmployeeName}}</td>
                                                    <td class="text-center">{{item.ScheduleSummary}}</td>
                                                    <td class="text-center">{{item.Remarks}}</td>
                                                    <td class="text-center">{{item.Status}}</td>
                                                    <td class="text-center">{{item.RegistrationDate}}</td>
                                                    <td>
                                                        <div class="form-actions">
                                                            <button type="button" class="btn btn-sm purple" ng-click="dropOrWithdraw('WITHDRAW', item)" ng-show="item.RegStatusId === 1">Withdraw</button><!--LockSaOrReview()-->
                                                        </div>
                                                    </td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>